In [1]:
import pandas as pd

In [2]:
ndvi = pd.read_csv(r'C:\Users\Shahadat Shuchon\Documents\GEE\NDVI.csv')
ndvi.head()

        Date   NDVI
0   1-Jan-20  0.375
1  10-Jan-20  0.339
2  17-Jan-20  0.344
3  26-Jan-20  0.296
4   2-Feb-20  0.347

In [3]:
evi= pd.read_csv(r'C:\Users\Shahadat Shuchon\Documents\GEE\EVI.csv')
evi.head()

        Date    EVI
0   1-Jan-20  0.328
1  10-Jan-20  0.414
2  17-Jan-20  0.346
3  26-Jan-20  0.403
4   2-Feb-20  0.325

In [4]:
gi= pd.read_csv(r'C:\Users\Shahadat Shuchon\Documents\GEE\GI.csv')
gi.head()

        Date     GI
0   1-Jan-20  0.098
1  10-Jan-20  0.108
2  17-Jan-20  0.100
3  26-Jan-20  0.108
4   2-Feb-20  0.099

In [9]:
merged_df = pd.merge(ndvi, evi, on="Date")
data = pd.merge(merged_df, gi, on="Date")
data

         Date   NDVI    EVI     GI
0    1-Jan-20  0.375  0.328  0.098
1   10-Jan-20  0.339  0.414  0.108
2   17-Jan-20  0.344  0.346  0.100
3   26-Jan-20  0.296  0.403  0.108
4    2-Feb-20  0.347  0.325  0.099
5   11-Feb-20  0.347  0.378  0.111
6   18-Feb-20  0.220  0.289  0.094
7   27-Feb-20  0.051  0.237  0.201
8    5-Mar-20  0.296  0.425  0.126
9   14-Mar-20  0.309  0.411  0.117
10  21-Mar-20  0.396  0.431  0.123
11  30-Mar-20  0.569  0.537  0.166
12   6-Apr-20  0.544  0.526  0.154
13  15-Apr-20  0.006  0.088  0.221
14  22-Apr-20  0.213  0.523  0.133
15   1-May-20  0.350  0.493  0.146
16   8-May-20  0.637  0.681  0.200
17  17-May-20  0.387  0.529  0.160
18   2-Jun-20  0.545  0.517  0.144
19   9-Jun-20  0.399  0.492  0.127
20   5-Aug-20  0.399  0.379  0.134
21  28-Aug-20  0.550  0.628  0.174
22   6-Sep-20  0.123  0.483  0.162
23  29-Sep-20  0.490  0.748  0.183
24   8-Oct-20  0.634  0.871  0.212
25  15-Oct-20  0.624  0.760  0.195
26  31-Oct-20  0.238  0.465  0.156
27  16-Nov-20  0.560  0.593  0.168
28  25-Nov-20  0.548  0.543  0.154
29   2-Dec-20  0.418  0.433  0.128
30  11-Dec-20  0.052  0.222  0.164
31  18-Dec-20  0.357  0.377  0.106
32  27-Dec-20  0.287  0.351  0.098

In [12]:
import docx


# i am not sure how you are getting your data, but you said it is a
# pandas data frame
df = pd.DataFrame(data)

# open an existing document
doc = docx.Document('./test.docx')

# add a table to the end and create a reference variable
# extra row is so we can add the header row
t = doc.add_table(df.shape[0]+1, df.shape[1])

# add the header rows.
for j in range(df.shape[-1]):
    t.cell(0,j).text = df.columns[j]

# add the rest of the data frame
for i in range(df.shape[0]):
    for j in range(df.shape[-1]):
        t.cell(i+1,j).text = str(df.values[i,j])

# save the doc
doc.save('./test.docx')