In [2]:
import pandas as pd

In [38]:
id_unique = pd.read_excel(r'C:\Users\Shahadat Shuchon\Documents\M.Saif\Data Model\Data_model_100222.xlsx', sheet_name= 'ID_unique')
id_unique.head(2)

,Society_no,Society_name,Field_name,Field_no,Unique_ID,CULTURE,User,Farm_name,Producer,Adviser,JIRA_ID,Longitude,Latitude
0,37034,"Hurni, Andr",3,84356113,3c88a96e-45cd-41a9-979f-c739f8b9e054,NaN,Elizabeth L'Heureux,Ferme Techno-Lait S.EN.C.,Andréas Hurni,Elisabeth L'Heureux,0,-72.612200,45.747451
1,37034,"Hurni, AndrLas (Ferme Techno-Lait SENC)",33,84356112,71378500-5572-449c-a541-fcd4dfba90e1,NaN,Elizabeth L'Heureux,Ferme Techno-Lait S.EN.C.,Andréas Hurni,Elisabeth L'Heureux,0,-72.597395,45.763746

In [39]:
crop_history = pd.read_excel(r'C:\Users\Shahadat Shuchon\Documents\M.Saif\Data Model\Data_model_100222.xlsx', sheet_name= 'Crop_history')
crop_history.head(2)

,Field_no,Society_no,Society_name,Field_name,Unique_ID,Culture,JIRA_ID,Farm_Name,Producer,Adviser,Province,Year,Culture_English,Annual Vs perenial,C4/C3,Grass/legum/brassicas/cereal,Forage/cash crop,Stand age
0,84912419,37045,"Saint-Pierre, Yvan (Ferme Dupierre)",16,66aaeb9d-ecc2-4eff-9847-1f7c9d025aaf,Foin de légumineuses,0,Ferme Dupierre,Yvan St-PIerre,Lise Dube,Quebec,2015.0,NaN,NaN,NaN,NaN,NaN,NaN
1,84912419,37045,"Saint-Pierre, Yvan (Ferme Dupierre)",16,66aaeb9d-ecc2-4eff-9847-1f7c9d025aaf,Foin de légumineuses,0,Ferme Dupierre,Yvan St-PIerre,Lise Dube,Quebec,2016.0,NaN,NaN,NaN,NaN,NaN,NaN

In [40]:
crop_history = crop_history[['Unique_ID','Province']]
crop_history.head(2)

                              Unique_ID Province
0  66aaeb9d-ecc2-4eff-9847-1f7c9d025aaf   Quebec
1  66aaeb9d-ecc2-4eff-9847-1f7c9d025aaf   Quebec

In [42]:
id_unique_n = id_unique.set_index('Unique_ID').join(crop_history.set_index('Unique_ID'))
id_unique_n=id_unique_n.reset_index()
id_unique_n=id_unique_n.drop_duplicates(subset='Unique_ID',keep='first')
id_unique_n.head(2)

,Unique_ID,Society_no,Society_name,Field_name,Field_no,CULTURE,User,Farm_name,Producer,Adviser,JIRA_ID,Longitude,Latitude,Province
0,0057ebbe-719e-45ad-b6b7-1301f2fafd93,36911,"Goulet, Pierre (Ferme Martin Goulet inc)",03,92087603,Foin de l7gumineuses 3 coupes,Dominique Fiset,"""Goulet, Pierre (Ferme Martin Goulet inc)""",Pierre Goulet,Dominique Fiset,273,-71.129825,46.474471,NaN
1,00eebf83-f180-41d2-a8e2-db4b7379df69,37219,"Mtthot, Alexandre (Denis Methot inc)",5,91366628,NaN,Automatique,"Méthot, Alexandre (Denis Méthot inc)",Alexandre Méthot,Catherine Mercier,177,-72.928331,45.942638,NaN

In [43]:
id_unique_n.to_excel("unique_id.xlsx")